In [5]:
import yfinance as yf
import pandas as pd
import numpy as np

In [14]:
cola = yf.Ticker('KO')
cola_balance = cola.balance_sheet
cola_income = cola.income_stmt
cola_cf = cola.cash_flow

In [13]:
pepsi = yf.Ticker('PEP')
pepsi_balance = pepsi.balance_sheet
pepsi_income = pepsi.income_stmt
pepsi_cf = pepsi.cash_flow

In [28]:
pepsi_balance.head(100)

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,490000000.0,484000000.0,487000000.0,476000000.0
Ordinary Shares Number,1377000000.0,1383000000.0,1380000000.0,1391000000.0
Share Issued,1867000000.0,1867000000.0,1867000000.0,1867000000.0
Net Debt,34117000000.0,34738000000.0,35965000000.0,26559000000.0
Total Debt,39071000000.0,40334000000.0,44150000000.0,32068000000.0
...,...,...,...,...
Other Receivables,2121000000.0,1655000000.0,1713000000.0,1480000000.0
Accounts Receivable,10163000000.0,8680000000.0,8404000000.0,7822000000.0
Cash Cash Equivalents And Short Term Investments,5348000000.0,5988000000.0,9551000000.0,5738000000.0
Other Short Term Investments,394000000.0,392000000.0,1366000000.0,229000000.0
Cash And Cash Equivalents,4954000000.0,5596000000.0,8185000000.0,5509000000.0

In [38]:
#get for quarterly report
cola_balance_quarter=yf.Ticker('KO').quarterly_balance_sheet
cola_income_quarter=yf.Ticker('KO').quarterly_income_stmt
cola_cf_quarter=yf.Ticker('KO').quarterly_cashflow

pepsi_balance_quarter=yf.Ticker('PEP').quarterly_balance_sheet
pepsi_income_quarter=yf.Ticker('PEP').quarterly_income_stmt
pepsi_cf_quarter=yf.Ticker('PEP').quarterly_cashflow

In [40]:
cola_balance_quarter.head()
pepsi_balance_quarter.head()

,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Treasury Shares Number,492000000.0,490000000.0,489000000.0,490000000.0,NaN
Ordinary Shares Number,1374863961.0,1376580611.0,1378000000.0,1377000000.0,1377709209.0
Share Issued,1866863961.0,1866580611.0,1867000000.0,1867000000.0,1377709209.0
Net Debt,34757000000.0,37505000000.0,36997000000.0,34117000000.0,32830000000.0
Total Debt,44774000000.0,43621000000.0,41767000000.0,39071000000.0,39245000000.0